<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No Metric System</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <style>
    /* Hide the spin buttons in WebKit browsers */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Hide spin buttons in Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    body {
      position: relative;
      min-height: 100vh;
      margin: 0;
    }

    body::before {
      content: "";
      position: fixed;
      /* stays fixed behind everything */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/images/bg_murica.jpg');
      background-size: cover;
      /* "fill type" */
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.1;
      /* % opacity */
      z-index: -1;
      /* keep it behind page content */
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg" style="background-color: #ff1e1ed2;" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">No Metric System</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contribute">Contribute</a>
        </li>
      </ul>
    </div>
  </nav>